# Xcode
*.xcuserstate
*.xccheckout
*.moved-aside
xcuserdata/
*.xcscmblueprint
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/xcuserstate

# Build
DerivedData/
build/
*.o
*.d

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Provisioning
*.mobileprovision
*.provisionprofile
